
@{
    ViewData["Title"] = "Menu";
}
@*
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/BttnCS.css">

    </head>
*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h3 style="text-align:center">Our Menu</h3>
<div>
    <a class="button" role="button" asp-action="TestingToping" asp-route-id="">Make Your Own</a> <br />
</div>
<br />
<div>
    <h2>SPECIALTY PIZZAS</h2>

    <container class="container" style=" margin-top:2px">
        <div class="row">

            <figure style="border-style:solid">
                <img src="~/image/ches.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Specicy</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/meate.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Cheese Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/pep.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Veggi Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/party.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Meat Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/partBox.png" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> XP Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info alert-danger" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>

        </div>

    </container>



    <container>
        <div class="row">



            <figure style="border-style:solid">
                <img src="~/image/ches.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Specicy</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/meate.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Cheese Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/pep.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Veggi Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/party.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Meat Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>
            <figure style="border-style:solid">
                <img src="~/image/partBox.png" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> XP Lover</h4>
                <figcaption>
                    Creamy Alfredo sauce,
                    <br>fresh spinach, fresh
                    <br>provolone and cheese made
                    <br>with 100% real mozzarella.
                    <br />

                    <a class="btn btn-info alert-danger" role="button" asp-action="TestingToping" asp-route-id="">Order Now</a> |
                </figcaption>
            </figure>

        </div>




    </container>

</div>

<br />
<br />
