
@{
    ViewData["Title"] = "Menu";
}
@*
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="~/css/BttnCS.css">

    </head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    *@
<h3 style="text-align:center">Our Menu</h3>
<div>
    <a class="" role="" asp-action="CustomPizza" >Make Your Own</a> <br />
</div>
<br />
<div>
    <h2>SPECIALTY PIZZAS</h2>

    <container class="container" style=" margin-top:2px">
        <div class="row">

            <figure style="border-style:solid">
                <img src="~/image/ches.jpg" alt="Second Slide" style="height:133px;width:175px">
                <h4 style="text-emphasis-color:blueviolet"> Vegalicious</h4>
                <figcaption>
                    <p>Fresh Mushrooms, Onions, Green Peppers, Black Olives, Tomatoes and Extra Cheese</p>
                    <a class="btn btn-info" role="button" asp-controller="SpecialtyPizza" asp-action="Order" asp-route-id="1">Order Now</a> |
                </figcaption>
            </figure>
        </div>

    </container>


</div>

