@model IEnumerable<ChajdPizzaWebApp.Models.Size>

    <form asp-action="SizeView">
        <span> Please Select Size</span>
        @foreach (var item in Model)
        { 
        <label class="container">
            @Html.DisplayFor(modelItem => item.BaseSize)
            $@Html.DisplayFor(modelItem => item.S_Price)
            <input type="radio" checked="checked" name="radio" asp-for="@item.BaseSize" value=@item.Id>
            <span class="checkmark"></span>
        </label>
        }
    </form>
